.App{
  background-color: #F7DBF0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.accordian{
  background: linear-gradient(to bottom,transparent,#F7DBF0);
  /* box-shadow: -10px -10px  5px rgba(0, 0, 0, 0.532) inset; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  /* border: 3px solid #000000; */
  padding: 1rem;
  /* display: flex; */
  width: 70%;
  height: 30%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.accordian::-webkit-scrollbar {
  display: none;
}
.content{
  text-align: justify;
}
.MoreAndLess{
  display: flex;
  justify-content: space-between;
}
.MoreAndLess button{
  cursor: pointer;
  font-weight: 700;
  /* margin-left: 10%; */
  outline: none;
  border: none;
  background-color: #F7DBF0;
}
